* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.profile-h {
  background-color: #f5fffa;
  padding-bottom: 50px;
  height: 100vh;
}

.head-pr {
  border-bottom: 1px solid #000;
}

.top-pr {
  padding-top: 12px;
  margin-right: 16%;
  margin-left: 20%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icon {
  position: relative;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.heading-pr {
  background-color: #3D3C3A;
  height: 120px;
  border-bottom: 1px solid gray;
}

.cover-pic-pr {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  padding: 10px 30px;
  top: 5%;
}

.rowC{
  margin-top: -5px;
}

.cover-pic-pr .rowC > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.cover-pic-pr .prf > i {
  background-color: #f5fffa;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  top: 20px;
  left: -20px;
  color: #000;
}

.profile-button {
  position: relative;
  bottom: 55px;
  padding: 0px 25px;
  border: none;
  border-radius: 20px;
  background-color: #2e8b57;
  color: #ffff;
  font-size: 1rem;
}

.profile-button:hover {
  background-color: #306754;
  transition: 1s ease-in;
}

.head-title{
    margin-left: 20px;
    margin-top: -15px;
    line-height: 1px;
    position: relative;
    justify-content: center;
    text-align: center;
    color: #ffff;
}

.head-main-t{
    padding-top: 10px;
}

.title-hr h3{
    font-weight: 500;
}

.mail-hr > p{
    font-size: 12px;
}

.sub-title-hr{
    margin-top: 25px;
    line-height: 1px;
    position: relative;
    justify-content: left;
    text-align: left;
    color: #ffff;
}

.published-count > h5{
    font-size: 15px;
    font-weight: 900;
}

.book-published > p{
    font-size: 10px;
}

.details{
    padding: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

